.t1-enter-active, .t1-leave-active {
  transition: opacity 1.0s;
}
.t1-enter, .t1-leave-to {
  opacity: 0;
}
.t2-enter-active, .t2-leave-active {
  transition: opacity 0.5s;
}
.t2-enter, .t2-leave-to {
  opacity: 0;
}
.autism {
  margin: 2% auto;
  display: block;
  justify-content: center;
  align-items: initial;
  text-align: left;
}
.smallautism {
  margin: 0 auto;
  min-height: 100vh;
  display: table;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.v-list-group__header{
  padding: 0 !important;
}
.v-navigation-drawer__content{
  list-style: none;
  overflow: hidden;
}
.nolose {
  margin: 5% 15% !important;
  display: block ;
}
